@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h4>GoldStore is ASP.NET MVC web application. Following Clean Architecture practices. </h4>
    <ul>                 
        <li>GoldStore uses the Entity Framework (EF) Code-First approach.</li>
        <li>GoldStore use Fluent API to fully customize the persistence mapping.</li>
        <li>Autofac - For Dependency Injection</li>
        <li>Automapper - For for mapping objects</li>
        <li>Showcase CRUD operation.</li>
    </ul>  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>References</h2>
        <p><a target="_blank" class="btn btn-default" href="http://www.nopcommerce.com">nopCommerce &raquo;</a></p>
        <p><a target="_blank" class="btn btn-default" href="https://chsakell.com/2015/02/15/asp-net-mvc-solution-architecture-best-practices/">chsakell MVC Solution Architecture– Best Practices&raquo;</a></p>
    </div>
    
</div>