@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h4>Gold Store is ASP.NET MVC web application.</h4>    
    <ul>
        <li>Standard .Net web application.</li>
        <li>Follows Clean Architecture practices.</li>
        <li>Autofac - For Dependency Injection</li>
        <li>Automapper - For for mapping objects</li>
    </ul>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>References nopCommerce </h2>
        <p></p>
        <p><a  target="_blank" class="btn btn-default" href="http://www.nopcommerce.com" >nopCommerce &raquo;</a></p>
    </div>
    
</div>